
*.userprefs

*.suo

# Builds
obj/
bin/

*.csproj

ConcurrencyUtilities/ConcurrencyUtils.csproj

*.dll

ConcurrencyUtilities/bin/Debug/ConcurrencyUtils.dll

ConcurrencyUtilities/bin/Debug/ConcurrencyUtils.XML
# Doxygen files
html
latex



*.orig
